[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
web3 = "==6.0.0b2"
loguru = "==0.6.0"
retry = "==0.9.2"
redis = "==4.3.1"

[dev-packages]

[requires]
python_version = "3.8"
